.play-container {
  display: none;
}

.play-box {
  // border: 2px solid yellowgreen;
  width: 100vw;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 2rem;

  .board-wrapper {
    // border: 4px dotted pink;
    padding: 0.5rem;
    @extend %displayFlex;
    flex-direction: column;
    gap: 0.5rem;

    .message {
      padding: 0.5rem;
      font-size: $fontReg;
      font-weight: 700;
      letter-spacing: 0.3rem;
    }
  }

  .history-container{
    // border: 4px dotted blue;
    padding: 1rem;
    display: none;

    &::before {
      content: "History";
      font-weight: 700;
      font-size: $fontReg;
      letter-spacing: 0.5rem;
      text-transform: uppercase;
      padding-left: 0.5rem;
    }

    p {
      font-size: $fontSmall;
      padding: 0.5rem 1rem;
      background: $mainColor;
      box-shadow: $insetShadow;
      border-radius: $moreRad;
      letter-spacing: 0.12rem;
      margin-top: 0.5rem;
    }

    &.active {
      display: block;
    }
  }
}

@media screen and (width < 780px) {
  .play-container {

    .play-box {
      align-items: center;
      flex-direction: column;
    }
  }
}